 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 858px;
}

.u-section-1 .u-image-1 {
  height: 651px;
  margin-top: 84px;
  margin-bottom: 0;
  --animation-custom_in-scale: 0.3;
}

.u-section-1 .u-text-1 {
  text-shadow: 2px 2px 23px rgba(0,0,0,0.2);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-size: 6rem;
  font-weight: 700;
  margin: -418px auto 0;
}

.u-section-1 .u-group-1 {
  width: 626px;
  min-height: 77px;
  box-shadow: 5px 5px 20px 0 rgba(170,89,60,0.4);
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.001;
  margin: 128px auto 60px;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 10px;
  padding-right: 10px;
}

.u-section-1 .u-text-2 {
  margin: 0;
}

.u-section-1 .u-btn-1 {
  padding: 0;
}

.u-section-1 .u-btn-2 {
  padding: 0;
}

.u-section-1 .u-btn-3 {
  padding: 0;
}

.u-section-1 .u-btn-4 {
  padding: 0;
}

.u-section-1 .u-btn-5 {
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 703px;
  }

  .u-section-1 .u-image-1 {
    height: 556px;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 588px;
  }

  .u-section-1 .u-image-1 {
    height: 474px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
    width: auto;
  }

  .u-section-1 .u-group-1 {
    margin-left: 35px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 468px;
  }

  .u-section-1 .u-image-1 {
    height: 320px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.4375rem;
  }

  .u-section-1 .u-group-1 {
    min-height: 64px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 371px;
  }

  .u-section-1 .u-image-1 {
    height: 206px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-group-1 {
    min-height: 100px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 872px;
}

.u-section-2 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1.46;
  margin: 76px auto 0;
}

.u-section-2 .u-text-2 {
  font-weight: 400;
  font-style: italic;
  font-size: 1.875rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px 93px 0;
}

.u-section-2 .u-list-1 {
  margin: 71px 0 60px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 16px));
  min-height: 304px;
  grid-gap: 24px;
}

.u-section-2 .u-list-item-1 {
  box-shadow: 5px 5px 15px 0 rgba(0,0,0,0.1);
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 22px;
}

.u-section-2 .u-image-1 {
  height: 194px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0;
}

.u-section-2 .u-text-3 {
  text-transform: uppercase;
  font-weight: 500;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 60px 8px 0;
}

.u-section-2 .u-text-4 {
  font-size: 1.25rem;
  line-height: 2;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px 15px 0 0;
}

.u-section-2 .u-list-item-2 {
  box-shadow: 5px 5px 15px 0 rgba(0,0,0,0.1);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 22px;
}

.u-section-2 .u-image-2 {
  height: 194px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0;
}

.u-section-2 .u-text-5 {
  text-transform: uppercase;
  font-weight: 500;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 60px 8px 0;
}

.u-section-2 .u-text-6 {
  font-size: 1.25rem;
  line-height: 2;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px 15px 0 0;
}

.u-section-2 .u-list-item-3 {
  box-shadow: 5px 5px 15px 0 rgba(0,0,0,0.1);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 22px;
}

.u-section-2 .u-image-3 {
  height: 194px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0;
}

.u-section-2 .u-text-7 {
  text-transform: uppercase;
  font-weight: 500;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 60px 8px 0;
}

.u-section-2 .u-text-8 {
  font-size: 1.25rem;
  line-height: 2;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px 15px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 674px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
    width: 674px;
  }

  .u-section-2 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 16px));
    min-height: 251px;
  }

  .u-section-2 .u-image-1 {
    height: 155px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    font-size: 1.125rem;
    margin-right: 0;
  }

  .u-section-2 .u-image-2 {
    height: 155px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-6 {
    font-size: 1.125rem;
    margin-right: 0;
  }

  .u-section-2 .u-image-3 {
    height: 155px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-8 {
    font-size: 1.125rem;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 516px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 12px));
    min-height: 577px;
  }

  .u-section-2 .u-image-1 {
    height: 182px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-2 {
    height: 182px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-3 {
    height: 182px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 387px;
  }

  .u-section-2 .u-text-2 {
    width: 540px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-image-1 {
    height: 300px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-image-2 {
    height: 300px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-image-3 {
    height: 300px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 244px;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-image-1 {
    height: 185px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-image-2 {
    height: 185px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-image-3 {
    height: 185px;
    margin-right: initial;
    margin-left: initial;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 616px;
}

.u-section-3 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 60px 104px 0;
}

.u-section-3 .u-list-1 {
  margin-top: 63px;
  margin-bottom: 60px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 13.3333px) calc(33.3333% - 13.3333px) calc(33.3333% - 13.3333px);
  min-height: 292px;
  grid-gap: 20px 20px;
  grid-auto-columns: calc(33.3333% - 13.3333px);
}

.u-section-3 .u-list-item-1 {
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 17px;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 30px 3px 0;
}

.u-section-3 .u-list-item-2 {
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 17px;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 30px 3px 0;
}

.u-section-3 .u-list-item-3 {
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 17px;
}

.u-section-3 .u-text-4 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 30px 3px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-left: 4px;
    margin-right: 4px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 13.3333px));
    min-height: 241px;
    grid-auto-columns: calc(33.333333333333336% - 13.3333px);
  }

  .u-section-3 .u-list-item-1 {
    transition-duration: 0.5s;
    --animation-custom_in-translate_x: -300px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
  }

  .u-section-3 .u-list-item-2 {
    transition-duration: 0.5s;
  }

  .u-section-3 .u-list-item-3 {
    transition-duration: 0.5s;
    --animation-custom_in-translate_x: 300px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 972px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 9.999975px));
    min-height: 554px;
    grid-auto-columns: calc(50% - 9.999975px);
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 10px));
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: 100%;
  }
}

.u-section-3 .u-list-item-1,
.u-section-3 .u-list-item-1:before,
.u-section-3 .u-list-item-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-3 .u-list-item-1.u-list-item-1.u-list-item-1:hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
}

.u-section-3 .u-list-item-1.u-list-item-1.u-list-item-1.hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
}

.u-section-3 .u-list-item-2,
.u-section-3 .u-list-item-2:before,
.u-section-3 .u-list-item-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-3 .u-list-item-2.u-list-item-2.u-list-item-2:hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
}

.u-section-3 .u-list-item-2.u-list-item-2.u-list-item-2.hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
}

.u-section-3 .u-list-item-3,
.u-section-3 .u-list-item-3:before,
.u-section-3 .u-list-item-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-3 .u-list-item-3.u-list-item-3.u-list-item-3:hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
}

.u-section-3 .u-list-item-3.u-list-item-3.u-list-item-3.hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
}

.u-block-a73b-71:not([data-block-selected]):not([data-cell-selected]),
.u-block-a73b-71:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-a73b-71:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-block-a73b-71:not([data-block-selected]):not([data-cell-selected]).u-block-a73b-71:not([data-block-selected]):not([data-cell-selected]).u-block-a73b-71:not([data-block-selected]):not([data-cell-selected]):hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
}

.u-block-a73b-71:not([data-block-selected]):not([data-cell-selected]).u-block-a73b-71:not([data-block-selected]):not([data-cell-selected]).u-block-a73b-71:not([data-block-selected]):not([data-cell-selected]).hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
}

.u-block-a73b-76:not([data-block-selected]):not([data-cell-selected]),
.u-block-a73b-76:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-a73b-76:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-block-a73b-76:not([data-block-selected]):not([data-cell-selected]).u-block-a73b-76:not([data-block-selected]):not([data-cell-selected]).u-block-a73b-76:not([data-block-selected]):not([data-cell-selected]):hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
}

.u-block-a73b-76:not([data-block-selected]):not([data-cell-selected]).u-block-a73b-76:not([data-block-selected]):not([data-cell-selected]).u-block-a73b-76:not([data-block-selected]):not([data-cell-selected]).hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
}

.u-block-a73b-81:not([data-block-selected]):not([data-cell-selected]),
.u-block-a73b-81:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-a73b-81:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-block-a73b-81:not([data-block-selected]):not([data-cell-selected]).u-block-a73b-81:not([data-block-selected]):not([data-cell-selected]).u-block-a73b-81:not([data-block-selected]):not([data-cell-selected]):hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
}

.u-block-a73b-81:not([data-block-selected]):not([data-cell-selected]).u-block-a73b-81:not([data-block-selected]):not([data-cell-selected]).u-block-a73b-81:not([data-block-selected]):not([data-cell-selected]).hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
}

.u-block-a73b-86:not([data-block-selected]):not([data-cell-selected]),
.u-block-a73b-86:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-a73b-86:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-block-a73b-86:not([data-block-selected]):not([data-cell-selected]).u-block-a73b-86:not([data-block-selected]):not([data-cell-selected]).u-block-a73b-86:not([data-block-selected]):not([data-cell-selected]):hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
}

.u-block-a73b-86:not([data-block-selected]):not([data-cell-selected]).u-block-a73b-86:not([data-block-selected]):not([data-cell-selected]).u-block-a73b-86:not([data-block-selected]):not([data-cell-selected]).hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
} .u-section-4 {
  background-image: none;
  min-height: 1198px;
}

.u-section-4 .u-image-1 {
  height: 516px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-layout-wrap-1 {
  width: 1192px;
  margin: -78px auto 60px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 706px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-1 {
  padding: 40px;
}

.u-section-4 .u-text-1 {
  margin: 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.125rem;
  margin: 40px 0 0;
}

.u-section-4 .u-line-1 {
  width: 437px;
  transform-origin: left center;
  margin: 23px auto 0 0;
}

.u-section-4 .u-list-1 {
  margin-top: 23px;
  margin-bottom: 0;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: repeat(1, 100%);
  min-height: 214px;
  grid-gap: 0px;
}

.u-section-4 .u-container-layout-2 {
  padding: 10px 10px 10px 0;
}

.u-section-4 .u-icon-1 {
  width: 33px;
  height: 33px;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto 0 0;
  padding: 0;
}

.u-section-4 .u-text-3 {
  font-weight: 700;
  margin: -33px 0 0 60px;
}

.u-section-4 .u-text-4 {
  font-style: italic;
  margin: 11px 0 0 60px;
}

.u-section-4 .u-container-layout-3 {
  padding: 10px 10px 10px 0;
}

.u-section-4 .u-icon-2 {
  width: 33px;
  height: 33px;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto 0 0;
  padding: 0;
}

.u-section-4 .u-text-5 {
  font-weight: 700;
  margin: -33px 0 0 60px;
}

.u-section-4 .u-text-6 {
  font-style: italic;
  margin: 11px 0 0 60px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 706px;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
}

.u-section-4 .u-container-layout-4 {
  padding: 40px;
}

.u-section-4 .u-text-7 {
  margin: 0;
}

.u-section-4 .u-form-1 {
  height: 472px;
  width: 522px;
  margin: 23px auto 0;
}

.u-section-4 .u-form-group-4 {
  margin-left: 0;
}

.u-section-4 .u-btn-1 {
  border-style: solid;
  letter-spacing: 0px;
  background-image: none;
  width: 100%;
  font-size: 1.25rem;
  font-weight: 400;
  text-transform: none;
}

.u-section-4 .u-text-8 {
  margin: 30px 39px 0;
}

.u-section-4 .u-btn-2 {
  background-image: none;
  border-style: solid;
  padding: 0;
}

@media (max-width: 1199px) {
   .u-section-4 {
    min-height: 1052px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 940px;
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 557px;
  }

  .u-section-4 .u-line-1 {
    width: 390px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-4 .u-text-3 {
    width: auto;
  }

  .u-section-4 .u-text-4 {
    width: auto;
    margin-top: 8px;
  }

  .u-section-4 .u-text-5 {
    width: auto;
  }

  .u-section-4 .u-text-6 {
    width: auto;
    margin-top: 8px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 557px;
  }

  .u-section-4 .u-form-1 {
    width: 390px;
  }

  .u-section-4 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 1082px;
  }

  .u-section-4 .u-image-1 {
    height: 417px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 720px;
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 699px;
  }

  .u-section-4 .u-container-layout-1 {
    padding: 30px 20px;
  }

  .u-section-4 .u-line-1 {
    width: 262px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 56px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 56px;
  }

  .u-section-4 .u-text-5 {
    margin-left: 56px;
  }

  .u-section-4 .u-text-6 {
    margin-left: 56px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 699px;
  }

  .u-section-4 .u-container-layout-4 {
    padding: 30px 20px;
  }

  .u-section-4 .u-form-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    min-height: 1565px;
  }

  .u-section-4 .u-image-1 {
    height: 368px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 540px;
    margin-right: auto;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 1615px;
  }

  .u-section-4 .u-image-1 {
    height: 327px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-right: 0;
  }

  .u-section-4 .u-text-3 {
    margin-left: 58px;
  }

  .u-section-4 .u-text-4 {
    margin-top: 10px;
    margin-left: 58px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-right: 0;
  }

  .u-section-4 .u-text-5 {
    margin-left: 58px;
  }

  .u-section-4 .u-text-6 {
    margin-top: 10px;
    margin-left: 58px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }
}